langchain
langchain-core
langchain-openai
langchain-groq
langchain-google-genai
langchain-mistralai
langchain_hugginface
streamlit
pydantic
openai
groq
google-generativeai
mistralai
pydantic
requests
